@import 'bootstrap';

body {
  background-color: rgb(179, 179, 179);
}

.cards_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.loading {
  width: 75px;
  height: 75px;
}

.no_results_msg {
  width: fit-content;
}

.my_card {
  width: calc(100% / 4);
  max-width:342px;
  max-height: 500px;
  perspective: 1000px;

  .card_inner {

    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .card_front {
      background-color: #bbb;

      .card_cover {
        width:100%; 
        height: 100%; 
        object-fit: cover
      }
    };

    .card_back {
      background-color: black;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transform: rotateY(180deg);
      overflow: hidden;

      .card_info {
        height: 100%;

        ul {
          list-style: none;

          li {
            margin-bottom: 20px;
          }
        }

        .langImg {
          width: 50px
        }

        .content_overview {
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
    };
  }

  &:hover {
    .card_inner {
      transform: rotateY(180deg);
    }
  }

}

@media (min-width: 1400px) {
  .my_card {
    width: calc(100% / 5);
  }
}

@media (max-width: 992px) {
  .my_card {
    width: calc(100% / 3);
  }
}

@media (max-width: 767px) {
  .content_overview {
    visibility: hidden;
  }
}

@media (max-width: 576px) {
  .my_card {
    width: 50%;
  }
  .content_overview {
    visibility: hidden;
  }
  h4 {
    font-size: 18px;
  }
  header {
    position: relative;
  }
  header label {
    font-size: 25px
  }
  header form {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
  }
  header form.form_active {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

